.socialComponent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;   /* media query 200px */
  background-image: url('../img/pattern-hills.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% top;
  display: flex;
  justify-content: center;
}

.socialContainer {
  display: flex;
  color: #fff;
  position: absolute;
  bottom: 42px;
}

.socialIconContainer {
margin-right: 32px;
}

.socialInstagram {
  margin-right: 0;
}

.socialIcon:hover {
  fill: var(--Red);
}