.timerComponent {
  display: flex;
  justify-content: space-between;
}

.timeContainer {
  margin-bottom: 14px;
  position: relative;
}

.overTimerContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.timerBG {
  background-color: var(--DarkBlue);
  width: 66px;
  height: 33px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.topTimer {
  filter: brightness(80%);
  z-index: 10;
}

.botTimer {
  box-shadow: 0 4px 0 0 var(--BlackBlue);
}

.timer {
  color: var(--Red);
  position: absolute;
  font-size: 2.5em;
  font-weight: 600;
}

.timerTop {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 49%);
  opacity: 1;
}

.timerBot {
  left: 50%;
  top: 0;
  transform: translate(-50%, -51%);
  opacity: 1;
}

.timeText {
  color: var(--Blue);
  text-align: center;
  font-size: .5em;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Time Flipping */
.topTimerFlip {
  transform-origin: 0% 100%;
  transition: all .25s ease 0s;
}

.botTimerFlip {
  transform-origin: 0% 0%;
  z-index: 20;
  transition: all .25s ease .25s;
}

.offTop {
  transform: rotateX(0deg);  /* top goes to 90deg */
  transition: none;
}

.offBot {
  transform: rotateX(90deg); /* then bottom goes to 0deg */
  transition: none;
}

.onTop {
  transform: rotateX(90deg);
}

.onBot {
  transform: rotateX(0deg);
}

@media screen and (min-width: 800px) {
  .timeContainer {
    margin-bottom: 28px;
  }

  .timerBG {
    width: 150px;
    height: 70px;
    border-radius: 8px;
  }

  .botTimer {
    box-shadow: 0 10px 0 0 var(--BlackBlue);
  }
  
  .timer {
    font-size: 5em;
    font-weight: 600;
  }

  .timeText {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 6px;
  }

}