.timerComponent {
  display: flex;
  justify-content: space-between;
}

.timeContainer {
  margin-bottom: 14px;
}

.timerBG {
  background-color: var(--DarkBlue);
  width: 66px;
  height: 33px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.topTimer {
  opacity: .5;
}

.botTimer {
  box-shadow: 0 4px 0 0 var(--BlackBlue);
}

.timer {
  color: var(--Red);
  position: absolute;
  font-size: 2.5em;
  font-weight: 600;
}

.timerTop {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 49%);
  opacity: 1;
}

.timerBot {
  left: 50%;
  top: 0;
  transform: translate(-50%, -51%);
  opacity: 1;
}

.timeText {
  color: var(--Blue);
  text-align: center;
  font-size: .5em;
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (min-width: 1440px) {
  .timeContainer {
    margin-bottom: 28px;
  }

  .timerBG {
    width: 150px;
    height: 70px;
    border-radius: 8px;
  }

  .botTimer {
    box-shadow: 0 10px 0 0 var(--BlackBlue);
  }
  
  .timer {
    font-size: 5em;
    font-weight: 600;
  }

  .timeText {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 6px;
  }
}