#root {
  /* Colors */
  --Blue: hsl(237, 18%, 59%);
  --Red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --DarkBlue: hsl(236, 21%, 26%);
  --DarkerBlue: hsl(235, 16%, 14%);
  --BlackBlue: hsl(234, 17%, 12%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;
}

body {
  background-color: green
}